@import "@/styles/variables.scss";

.burgerComp {
    position: fixed;
    display: none;
    flex-direction: column;
    gap:100px;
    background-color: $black;
    width: 97%;
    height: 100vh;
    z-index: 10;
    padding: 80px 20px 0px 20px;
    top:0;
    left: 0;
    transform: translateX(100%); 
    transition: transform 0.5s ease;

    &__buttonClose {
        background: transparent;
        border: 0px;
        cursor: pointer;
    }

    &__firstDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        list-style: none;
        display: grid;
        gap:30px;

        &__item {
            text-decoration: none;
            font-family: $font-secondary;
            color: $white;
            font-weight: 300;
            font-size: clamp(2rem,2vw,10rem);
            text-decoration: none;
        }
    }
}

@media (max-width: 768px) {
    .burgerComp {
        display: flex;
    }
}

.is-visible {
    transform: translateX(0);
}


@media (min-width:375px ) {
    .burgerComp {
        width: 91%;
    }
}


@media (min-width:425px ) {
    .burgerComp {
        width: 92%;
    }
}

@media (min-width:500px ) {
    .burgerComp {
        width: 93%;
    }
}

@media (min-width:555px ) {
    .burgerComp {
        width: 93.5%;
    }
}

@media (min-width:600px ) {
    .burgerComp {
        width: 93.5%;
    }
}

@media (min-width:625px ) {
    .burgerComp {
        width: 95%;
    }
}