@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey200: hsl(0, 0%, 85%);


$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;