@import "@/styles/variables.scss";

.cardDesktop {
    width: 17.65vw;
    height: 60vh;
    min-width: 150px;   
    object-fit: contain; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    cursor: pointer;

    &__text {
        font-family: $font-secondary;
        font-weight: 300;
        color:$white;
        font-size: clamp(1.6rem,2vw,10rem);
        position: absolute;
        bottom: 40px;
        left: 40px;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-property: all;
    }
}

.cardDesktop:hover {
    opacity: 50%;

    .cardDesktop__text {
        color:$black;
    }
}



.cardMobile {
    display: none;
    width: 65vw;
    height: 23vh;
    min-width: 333px;   
    object-fit: contain; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    cursor: pointer;

    &__text {
        font-family: $font-secondary;
        font-weight: 300;
        color:$white;
        font-size: clamp(1.6rem,2vw,10rem);
        position: absolute;
        bottom: 40px;
        left: 40px;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-property: all;
    }
}


@media (max-width:1024px) {
    .cardDesktop {
        display: none;
    }

    .cardMobile {
        display: block;

        &__text {
            bottom: 20px;
            left: 20px;
        }
    }
}

@media (max-width: 550px) {
    .cardMobile {
        width: 89vw;
    }
}